{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}
{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="pure-g">
        <div class="pure-u-1-3">
        </div>
        <div class="pure-u-1-3">
        <form class="pure-form pure-form-aligned" action="{{ path('login') }}" method="post">
            <fieldset>
                <legend>Sign in</legend>
                <div class="pure-control-group">
                    <label for="username">Username</label>
                    <input id="username" name="_username" type="text" placeholder="Username">
                </div>
                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="_password" placeholder="Password">
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                </div>
            </fieldset>
        </form>
        </div>
        <div class="pure-u-1-3">
        </div>
    </div>
{% endblock %}