table {
    border: #eee solid 1px;
    border-collapse: collapse;
}
table td, table th {
    border: #eee solid 1px;
    padding: 3px;
}

#footer {
    padding-top: 30px;
}

.pure-menu-horizontal {
    background-color: #222222;
}
.pure-menu-link, .pure-menu-link:active, .pure-menu-link:visited, .pure-menu-link:active {
    color: #dddddd;
    background-color: #222222;
}
.pure-menu-link:hover {
    background-color: #555;
}