{% extends 'base.html.twig' %}
{% block title %}Prosecutor view{% endblock %}
{% block body %}
    <h3>Prosecutor view</h3>
    <table class="pure-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Penitentiary</th>
                <th>Crime</th>
                <th>Start date</th>
                <th>End date</th>
            </tr>
        </thead>
        <tbody>
        {% for prisoner in prisoners %}
            <tr>
                <td>{{ prisoner.prisonerName }}</td>
                <td>{{ prisoner.penitentiaryName }}</td>
                <td>{{ prisoner.crime }}</td>
                <td>{{ prisoner.from|date('Y-m-d') }}</td>
                <td>{{ prisoner.to|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}