{% extends 'base.html.twig' %}
{% block title %}Public list{% endblock %}
{% block body %}
    <h3>Public list</h3>
    <table class="pure-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Crime</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        {% for prisoner in prisoners %}
            <tr>
                <td>{{ prisoner.name }}</td>
                <td>{{ prisoner.crimeCategory }}</td>
                <td>{{ prisoner.startDate|date('Y-m-d') }}</td>
                <td>{{ prisoner.endDate|date('Y-m-d') }}</td>
                <td>{{ prisoner.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}